html {
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth
}

body {
    margin-bottom: 250px;/* Margin bottom by footer height */
    font-family: 'Rubik', sans-serif;
    min-height: 100%;
}
.footer {
    position: absolute;
    border-top: 1px solid black;
    bottom: 0;
    width: 100%;
    height: 250px; /* Set the fixed height of the footer here */
     /* Vertically center the text there */
    background-color: rgb(73,73,125,.9);
}

.footer-info {
    margin-top: 30px;
}

.header {
    background-image: url("../images/background2.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    display: block;
}

.whiteName {
    color: white;
}
h6 {
    position: absolute;
    bottom: 20px;
    display: block;
    padding: 10px;
    background: rgb(73,73,125,.9);
    color: white;
    font-weight: 700;
}

h6:hover {
    background: #fff;
    color: red;
}


.arrow {
    width:45px;
}

.project-col {
    padding: 10px;
}

.arrowDiv {
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=ffffff');
    }

.navbar-toggler {
    border: 2px solid white;
    background: black;
}
.navbar {
    background: none
}

a.nav-link {
    color: #ffffff;
    display: inline-block;
    background-color: gray;
    width: 80px;
    text-align: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

li.nav-item {
    display: inline-block;
}

a:link {
    color: 49497D;
}

a:hover {
    color: red;
}

.name {
    color: white;
    display: inline-block;
    position: absolute;
    left: 100px;
    bottom: 100px;
    text-align: right;
}

.img-skill {
    width: 90%;
}

.carouselSelect {
    width: 50%;
    margin: auto;
}

.projects {
    background-color: #49497D;
    color: #fff;
}

.skills {
    padding-top: 95px;
    padding-bottom: 95px;
}

.carousel-cap {
    text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;

}

.capt {
    font-size: 14px;
}
section {
    padding: 35px;
    font-size: 20px;
}
.text-sections {
    padding: 30px;
    font-size: 30px;
}

.about-me {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-header {
    padding: 45px 40px;
}

.sub-header {
    padding: 30px;
}

.logo {
    width: 30px;
}

.logo-link:hover {
    text-decoration: none;
    color: red;
}

.logo-link {
    color: white;
}

.email-link:hover {
    text-decoration: none;
    color:red;
}

 @media (min-width: 768px) and (max-width: 1000px)  {
    .collapse {
        display: none !important;
    }
 } 